<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    body { margin: 1em; }
    th { text-align: left; padding: 0.5em 0.5em 0.5em 0; }
    td { padding: 0.1em; }
  </style>
</head>
<body>
  <h1>It's a Phone Book</h1>

  <table id="directory">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
      {% for p in people %}
      <tr class="person">
        <td class="last">{{ p[0] }}</td>
        <td class="first">{{ p[1] }}</td>
        <td class="phone">{{ p[2] }}</td>
      </tr>
      {% endfor %}
  </table>

</body>
</html>
